<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><img src="{{asset('images/logoIPNJ.png') }}" height="130px"  alt="IPNJLogo" /></h2>
                </div> 
                <div class="col-sm-2">
                    <h5>Tesoreria Nacional</h5>
                    <ul>
                        <li><a href="">Envios</a></li>
                        <li><a href="">Calculador</a></li>
                        <li><a href="">Reporte</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Asistencia Social</h5>
                    <ul>
                        <li><a href="#">Envios</a></li>
                        <li><a href="#">Informes</a></li>
                        <li><a href="#">Descargas</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Solicitudes</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright Todos los derechos reservados por el Departamento de Publicaciones de l IPNJ - Argentina </p>
        </div>
    </footer>